/* DESIGN PAGE SITE WEB */

html {
   scroll-behavior: smooth;
}

body {
   font-family: raleway, sans-serif;
   margin: 0;
   font-size: 18px;
}

.container {
   max-width: 1340px;
   margin: auto;
   width: 95%;
}

.logement-container,
footer,
.popular-container {
   background-color: #f2f2f2;
}

p {
   font-size: 0.8em;
}

a {
   text-decoration: none;
}

h1,
h2 {
   font-size: 1.3em;
   font-weight: bold;
}

li {
   list-style: none;
}

/* Header */

header,
nav ul {
   display: flex;
   justify-content: flex-end;
}

header {
   margin-top: 30px;
   margin-bottom: 50px;
}

nav {
   flex: 3;
}

.logo {
   flex: 2;
}

.inscrire {
   margin: auto 0;
   order: 3;
}

.inscrire a {
   color: #0065fc;
}

.lien-1 {
   color: #0065fc;
   border-top: 1px solid #0065fc;
   padding-top: 40px;
}

.lien-2 {
   color: #000;
   margin-left: 90px;
   margin-right: 90px;
}

/* Section recherche */

.titre-recherche {
   font-weight: bold;
   font-size: 1.2em;
   margin-bottom: 0;
}

form {
   border-radius: 12px;
   width: 330px;
   background-color: #f2f2f2;
   height: 35px;
   display: flex;
   margin-bottom: 10px;
}

form input {
   border: 0;
   text-align: center;
   font-weight: bold;
}

form label {
   margin: auto;
   padding: 0 10px;
}

button[type="submit"] {
   color: #fff;
   background-color: #0065fc;
   border-radius: 0 8px 8px 0;
   cursor: pointer;
   width: 100px;
   border: unset;
}

.button-2 {
   color: #fff;
   font-weight: bold;
}

.button-1 {
   display: none;
}

.filtre,
.filtre ul,
.filtre a {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.filtre {
   justify-content: flex-start;
}

.filtre ul {
   font-weight: bold;
}

.filtre li {
   margin: 10px;
}

.filtre h3 {
   font-size: 1em;
}

.filtre a {
   border: #f2f2f2 solid 1px;
   border-radius: 25px;
   padding: 0px 15px 0 0;
   color: #000;
   font-weight: bold;
}

.filtre i {
   color: #0065fc;
   background-color: #deebff;
   border-radius: 100%;
   padding: 10px;
   margin-right: 10px;
}

.filtre a:hover {
   background-color: #deebff;
   box-shadow: 2px 2px 3px #0065fc;
}

.fa-info {
   border: #f2f2f2 1px solid;
   color: #0065fc;
   padding: 5px 10px;
   border-radius: 100%;
   margin-right: 16px;
}

.recherche p {
   margin-top: 0;
   font-size: 0.85em;
   margin-bottom: 25px;
}

.recherche p:last-child {
   margin-bottom: 40px;
}

.recherche p:nth-child(2) {
   margin-top: 20px;
   margin-bottom: 25px;
}

/* Section logement : partie hébergements */

.section-logement {
   display: flex;
   height: 600px;
}

.logement-container {
   width: 880px;
   margin-right: 40px;
   padding: 20px;
   border-radius: 15px;
   flex: 2;
}

.logement-container h2 {
   margin-left: 20px;
   font-size: 1.3em;
}

.logement-content {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.content h3 {
   margin-top: 0;
   margin-bottom: 0;
   margin-left: 5px;
   font-size: 0.9em;
}

.content p {
   margin-top: 5px;
   margin-left: 5px;
   margin-bottom: 0;
   font-size: 0.8em;
}

.description {
   padding-left: 10px;
}

.etoile {
   color: #0065fc;
   font-size: 10px;
   margin-left: 5px;
   margin-top: 5px;
}

span {
   color: #d9d9d9;
}

.plus {
   font-size: 0.9em;
   margin-top: 20px;
   margin-left: 20px;
}

.content img {
   object-fit: cover;
   width: 100%;
   height: 60%;
   border-radius: 15px 15px 0 0;
}

.logement-container a {
   padding: 2%;
   width: calc(100% / 3);
   box-sizing: border-box;
}

.logement-container .content {
   height: 190px;
   box-sizing: border-box;
   color: #000;
   padding: 5px;
   background-color: #fff;
   border-radius: 15px;
   box-shadow: -5px 5px 5px 0px #e4e4e4, 5px 5px 5px 0px #e4e4e4,
      5px -5px 5px 0px #e4e4e4, -5px -5px 5px 0px #e4e4e4;
}

/* Section logement : partie populaires */

.popular-container {
   display: flex;
   flex-direction: column;
   flex: 1;
   border-radius: 15px;
}

.popular-content {
   height: 100%;
   background-color: #fff;
   width: 100%;
   display: flex;
   border-radius: 15px;
   padding: 5px;
   box-shadow: -5px 5px 5px 0px #e4e4e4, 5px 5px 5px 0px #e4e4e4,
      5px -5px 5px 0px #e4e4e4, -5px -5px 5px 0px #e4e4e4;
}

.popular-container h2 {
   display: flex;
   justify-content: space-between;
   margin: 35px 30px 0 30px;
}

.popular-container a {
   width: 85%;
   height: 22%;
   color: #000;
   margin: auto;
}

.popular-container img {
   object-fit: cover;
   width: 40%;
   border-radius: 15px 0 0 15px;
}

.popular-description {
   margin-left: 5%;
   display: flex;
   flex-direction: column;
}

.popular-description h3 {
   margin-bottom: 0;
   font-size: 0.9em;
}

.popular-container .etoile {
   margin-top: auto;
   color: #0065fc;
   font-size: 10px;
   padding-bottom: 10px;
   margin-left: 2px;
}

.popular-container a:last-child {
   margin-bottom: 40px;
}

/* Section activités */

#section-activite {
   margin-top: 60px;
   margin-bottom: 60px;
}

.activite-container {
   display: flex;
   justify-content: space-between;
   height: 440px;
}

#section-activite h3 {
   font-size: 0.9em;
   font-weight: bold;
   color: #000;
   margin-left: 15px;
}

.content-bloc,
.activite-container > a {
   width: 23%;
}

.content-bloc {
   display: flex;
   flex-direction: column;
}

.content-activite {
   width: 100%;
   height: 100%;
   overflow: hidden;
   border-radius: 15px;
}

.content-activite img {
   object-fit: cover;
   width: 100%;
   height: 87%;
   border-radius: 15px 15px 0 0;
}

.content-activite-1 {
   height: 230px;
   border-radius: 15px;
   margin-bottom: 40px;
}

.content-activite-1 img {
   object-fit: cover;
   width: 100%;
   height: 77%;
   border-radius: 15px 15px 0 0;
}

.content-activite-2 {
   height: 170px;
   border-radius: 15px;
}

.content-activite-2 img {
   object-fit: cover;
   width: 100%;
   height: 70%;
   border-radius: 15px 15px 0 0;
}

.content-activite-3 {
   height: 170px;
   border-radius: 15px;
   margin-bottom: 40px;
}

.content-activite-3 img {
   object-fit: cover;
   width: 100%;
   height: 70%;
   border-radius: 15px 15px 0 0;
}

.content-activite-4 {
   height: 230px;
   border-radius: 15px;
}

.content-activite-4 img {
   object-fit: cover;
   width: 100%;
   height: 77%;
   border-radius: 15px 15px 0 0;
}

div[class*="content-activite"] {
   box-shadow: -5px 5px 5px 0px #f2f2f2, 5px 5px 5px 0px #f2f2f2,
      5px -5px 5px 0px #f2f2f2, -5px -5px 5px 0px #f2f2f2;
}

/* Footer */

footer {
   padding-top: 20px;
   padding-bottom: 30px;
}

.footer-container {
   display: flex;
   max-width: 1340px;
   margin: auto;
}

footer h3 {
   font-size: 1.1em;
   font-weight: bold;
}

footer li {
   list-style: none;
}

.footer-content {
   width: 35%;
   font-size: 0.8em;
}

.footer-content ul {
   padding-left: 0;
}

.footer-content a {
   color: #000;
}

.footer-content li {
   line-height: 200%;
}

/* Mise en place responsive avec les media queries */

/* Smartphones */

@media only screen and (min-width: 280px) and (max-width: 1023px) {
   .container {
      width: 100%;
      margin: 0;
   }

   /* Header */

   header {
      flex-wrap: wrap;
      margin-bottom: 20px;
   }

   .logo,
   .inscrire {
      flex: 1;
   }

   .logo {
      padding-left: 20px;
   }

   .inscrire {
      padding-right: 20px;
      order: 0;
      text-align: right;
   }

   nav {
      flex: 1 100%;
   }

   nav ul {
      justify-content: space-around;
      padding-left: 0;
   }

   .lien-1 {
      border-top: none;
   }

   .lien-2 {
      color: #000;
      margin: 0;
   }

   .li-1 {
      width: 50%;
      text-align: center;
      border-bottom: #0065fc 2px solid;
   }

   .li-2 {
      width: 50%;
      text-align: center;
      border-bottom: #f2f2f2 2px solid;
      padding-bottom: 15px;
   }

   /* Section recherche */

   .recherche {
      width: 90%;
      margin: auto;
   }

   .titre-recherche {
      width: 80%;
      margin-left: 20px;
      font-size: 1.3em;
   }

   .recherche p:nth-child(2) {
      margin-left: 20px;
      font-size: 1em;
   }

   form {
      margin: auto;
   }

   input[type="search"] {
      width: 80%;
   }

   .button-2 {
      display: none;
   }

   .button-1 {
      display: block;
      color: #fff;
   }

   button[type="submit"] {
      color: #fff;
      background-color: #0065fc;
      border-radius: 8px;
      cursor: pointer;
      width: 40px;
      border: unset;
      padding: 10px;
   }

   .fa-map-marker-alt {
      width: 10%;
      text-align: center;
   }

   .filtre {
      flex-direction: column;
      width: 100%;
      margin-bottom: 20px;
   }

   .filtre h3 {
      width: 100%;
      text-align: left;
   }

   .filtre ul {
      flex-wrap: wrap;
      width: 100%;
      padding-left: 0;
      min-height: 150px;
      margin-top: 0;
   }

   .filtre li {
      margin: 0;
   }

   .fa-info {
      float: left;
      margin-right: 8px;
   }

   .recherche p:last-child {
      font-size: 1em;
   }

   /* Section logement : partie populaires */

   .popular-container {
      justify-content: space-around;
      border-radius: 0;
      height: 100%;
   }

   .popular-container h2 {
      margin-bottom: 30px;
   }

   .popular-container a {
      margin: 15px auto;
   }

   .popular-container img {
      height: 150px;
      width: 45%;
   }

   /* Section logement : partie hébergements */

   .section-logement {
      display: flex;
      flex-direction: column-reverse;
      height: 100%;
   }

   .logement-container h2 {
      margin-left: 25px;
      margin-top: 40px;
   }

   .plus {
      margin-left: 30px;
      font-size: 1em;
   }

   .logement-container {
      background-color: #fff;
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin: auto;
   }

   .logement-content {
      display: flex;
      flex-direction: column;
   }

   .logement-container .content {
      height: 195px;
      width: 85%;
      margin: auto;
   }

   .logement-container a {
      margin: 10px auto;
      padding: 2px;
      width: 100%;
   }

   /* Section activités */

   #section-activite {
      width: 100%;
      margin-bottom: 50px;
   }

   #section-activite h2 {
      padding-left: 25px;
      margin-bottom: 30px;
   }

   .activite-container {
      display: flex;
      flex-direction: column;
      height: 100%;
   }

   .activite-container a {
      width: 85%;
      margin: auto;
   }

   .content-bloc {
      width: 100%;
   }

   .activite-container img {
      height: 70%;
   }

   .content-activite,
   .content-activite-1,
   .content-activite-2,
   .content-activite-3 {
      height: 190px;
      margin-bottom: 30px;
   }

   .content-activite-4 {
      height: 190px;
      margin-bottom: 0;
   }

   /* Footer */

   .footer-container {
      flex-direction: column;
   }

   .footer-content {
      width: 90%;
      margin-left: 0;
      padding-left: 25px;
   }

   .footer-content li {
      width: 70%;
      font-size: 1.2em;
   }

   .footer-content li:last-child {
      margin-bottom: 20px;
   }

   footer h3 {
      font-size: 1.3em;
   }
}

/* Tablettes */

@media only screen and (min-width: 599px) and (max-width: 1023px) {
   /* Header */

   header {
      flex-wrap: wrap;
      margin-bottom: 40px;
   }

   .logo img {
      width: 150px;
      margin-bottom: 20px;
   }

   .li-1,
   .li-2 {
      font-size: 1.3em;
   }

   .inscrire {
      margin-top: 25px;
      font-size: 1.5em;
      order: 0;
   }

   .inscrire a {
      border-radius: 40px;
      color: #fff;
      background-color: #0065fc;
      padding: 10px;
   }

   /* Section recherche */

   .titre-recherche {
      width: 100%;
      font-size: 1.5em;
      text-align: center;
      margin-left: unset;
   }

   .recherche p:nth-child(2) {
      font-size: 1.3em;
      text-align: center;
      margin-left: unset;
   }

   form {
      width: 100%;
      height: 50px;
   }

   form label {
      font-size: 1.3em;
      width: 22px;
   }

   .button-1 {
      display: none;
   }

   .button-2 {
      display: block;
   }

   button[type="submit"] {
      color: #fff;
      background-color: #0065fc;
      border-radius: 8px;
      cursor: pointer;
      width: 200px;
      font-size: 1.3em;
   }

   input[type="search"] {
      font-size: 1.2em;
   }

   .filtre {
      margin-top: 30px;
   }

   .filtre ul {
      min-height: 50px;
   }

   .filtre h3 {
      text-align: center;
      font-size: 1.3em;
   }

   .fa-info {
      float: unset;
      margin-right: 8px;
   }

   .recherche p:last-child {
      font-size: 1.1em;
      text-align: center;
   }

   /* Section logement : partie populaires */

   .popular-container {
      width: 95%;
      margin: auto;
      border-radius: 15px;
   }

   .popular-container h2 {
      margin-left: 55px;
   }

   .popular-description h3,
   .popular-description p {
      font-size: 1.3em;
   }

   .popular-container .etoile {
      font-size: 15px;
   }

   /* Section logement : partie hébergements */

   .logement-content {
      flex-direction: unset;
   }

   .logement-container .content {
      height: 220px;
      width: 90%;
   }

   .content h3,
   .content p {
      font-size: 1.2em;
   }

   .logement-container a {
      width: 50%;
   }

   .etoile {
      font-size: 12px;
   }

   .plus {
      font-size: 1.2em;
   }

   /* Section activités */

   div[class*="content-activite"] {
      height: 100%;
      margin-bottom: 40px;
   }

   .content-activite-1 img {
      height: 400px;
   }

   #section-activite h2 {
      margin-left: 35px;
   }

   #section-activite h3 {
      font-size: 1.3em;
      text-align: center;
   }

   .content-activite-1 h3,
   .content-activite-2 h3,
   .content-activite-3 h3,
   .content-activite-4 h3 {
      padding-bottom: 30px;
   }

   /* Footer */

   .footer-container {
      text-align: center;
   }

   .footer-content li {
      width: 100%;
   }
}

@media only screen and (width: 1024px) {
   .footer-container {
      padding-left: 30px;
   }
}

@media only screen and (min-width: 1024px) and (max-width: 1399px) {
   .footer-container {
      padding-left: 40px;
   }
}
